<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.LW1.video.videoClassify.mapper.VideoClassifyMapper">
    
    <resultMap type="VideoClassify" id="VideoClassifyResult">
        <result property="classifyId"    column="classify_id"    />
        <result property="classifyNum"    column="classify_num"    />
        <result property="classifyName"    column="classify_name"    />
    </resultMap>

    <sql id="selectVideoClassifyVo">
        select classify_id, classify_num, classify_name from ch_video_classify
    </sql>

    <select id="selectVideoClassifyList" parameterType="VideoClassify" resultMap="VideoClassifyResult">
        <include refid="selectVideoClassifyVo"/>
        <where>  
            <if test="classifyId != null "> and classify_id = #{classifyId}</if>
            <if test="classifyNum != null  and classifyNum != ''"> and classify_num = #{classifyNum}</if>
            <if test="classifyName != null  and classifyName != ''"> and classify_name like concat('%', #{classifyName}, '%')</if>
        </where>
    </select>
    
    <select id="selectVideoClassifyByClassifyId" parameterType="Long" resultMap="VideoClassifyResult">
        <include refid="selectVideoClassifyVo"/>
        where classify_id = #{classifyId}
    </select>
        
    <insert id="insertVideoClassify" parameterType="VideoClassify" useGeneratedKeys="true" keyProperty="classifyId">
        insert into ch_video_classify
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="classifyNum != null and classifyNum != ''">classify_num,</if>
            <if test="classifyName != null and classifyName != ''">classify_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="classifyNum != null and classifyNum != ''">#{classifyNum},</if>
            <if test="classifyName != null and classifyName != ''">#{classifyName},</if>
         </trim>
    </insert>

    <update id="updateVideoClassify" parameterType="VideoClassify">
        update ch_video_classify
        <trim prefix="SET" suffixOverrides=",">
            <if test="classifyNum != null and classifyNum != ''">classify_num = #{classifyNum},</if>
            <if test="classifyName != null and classifyName != ''">classify_name = #{classifyName},</if>
        </trim>
        where classify_id = #{classifyId}
    </update>

    <delete id="deleteVideoClassifyByClassifyId" parameterType="Long">
        delete from ch_video_classify where classify_id = #{classifyId}
    </delete>

    <delete id="deleteVideoClassifyByClassifyIds" parameterType="String">
        delete from ch_video_classify where classify_id in 
        <foreach item="classifyId" collection="array" open="(" separator="," close=")">
            #{classifyId}
        </foreach>
    </delete>
</mapper>